### 分类变量

处理分类变量的一个方法是使用 1/0 进行编码（也叫独热编码 One-Hot encoding），创建虚拟变量。也就是说，为分类变量里的每一个类别都创建单独的特征。

这种方法的**优势**包括：

1. 每个类别对目标变量具有不同的影响能力
2. 你不需要为分类变量的类别进行排序
3. 比其他编码方式更容易解读

这种方法的**弊端**就是：会给模型引入太多的变量。如果你的数据中有很多分类变量或者分类变量具有很多类别，而数据样本数并不大，那可能就没有办法评估每个变量对目标变量的影响。有一个不成文的规则：数据每增加一个特征，就建议增加 10 个数据点，也就是每增加 1 列就要增加 10 行数据。这是一个合理的下限，你的数据量越大越好（假设都是有代表性的数据）。

我们将尝试为模型增添分类变量的虚拟变量，对比模型的表现，看看增加了分类变量之后是否比仅使用数值变量有所改进。


#### 运行以下两个单元格

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import test3 as t
import seaborn as sns
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#Only use quant variables and drop any rows with missing values
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]

#Drop the rows with missing salaries
drop_sal_df = num_vars.dropna(subset=['Salary'], axis=0)

# Mean function
fill_mean = lambda col: col.fillna(col.mean())
# Fill the mean
fill_df = drop_sal_df.apply(fill_mean, axis=0)

#Split into explanatory and response variables
X = fill_df[['CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]
y = fill_df['Salary']

#Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42) 

lm_model = LinearRegression(normalize=True) # Instantiate
lm_model.fit(X_train, y_train) #Fit
        
#Predict and score the model
y_test_preds = lm_model.predict(X_test) 
"The r-squared score for the model using only quantitative variables was {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model using only quantitative variables was 0.03257139063404435 on 1503 values.'

#### Question 1

**1.** 使用 **df** 数据，识别其中的分类变量，提取出所有的分类变量，存储为一个新的数据集 **cat_df** ，一共有几列分类变量？如果遇到困难，可以阅读[这里](http://pbpython.com/categorical-encoding.html)的文档。

In [3]:
df.dtypes

Respondent                       int64
Professional                    object
ProgramHobby                    object
Country                         object
University                      object
EmploymentStatus                object
FormalEducation                 object
MajorUndergrad                  object
HomeRemote                      object
CompanySize                     object
CompanyType                     object
YearsProgram                    object
YearsCodedJob                   object
YearsCodedJobPast               object
DeveloperType                   object
WebDeveloperType                object
MobileDeveloperType             object
NonDeveloperType                object
CareerSatisfaction             float64
JobSatisfaction                float64
ExCoderReturn                   object
ExCoderNotForMe                 object
ExCoderBalance                  object
ExCoder10Years                  object
ExCoderBelonged                 object
ExCoderSkills                   object
ExCoderWillNotCode              object
ExCoderActive                   object
PronounceGIF                    object
ProblemSolving                  object
                                ...
InfluenceRecruitment            object
InfluenceCommunication          object
StackOverflowDescribes          object
StackOverflowSatisfaction      float64
StackOverflowDevices            object
StackOverflowFoundAnswer        object
StackOverflowCopiedCode         object
StackOverflowJobListing         object
StackOverflowCompanyPage        object
StackOverflowJobSearch          object
StackOverflowNewQuestion        object
StackOverflowAnswer             object
StackOverflowMetaChat           object
StackOverflowAdsRelevant        object
StackOverflowAdsDistracting     object
StackOverflowModeration         object
StackOverflowCommunity          object
StackOverflowHelpful            object
StackOverflowBetter             object
StackOverflowWhatDo             object
StackOverflowMakeMoney          object
Gender                          object
HighestEducationParents         object
Race                            object
SurveyLong                      object
QuestionsInteresting            object
QuestionsConfusing              object
InterestedAnswers               object
Salary                         float64
ExpectedSalary                 float64
Length: 154, dtype: object

pandas有一个有用的select_dtypes函数，我们可以使用它来构建仅包含对象列的新数据框。

通过该函数可以将数据中的分类变量提取出来。

In [4]:
cat_df = df.select_dtypes(include=['object']).copy()# Subset to a dataframe only holding the categorical columns

# Print how many categorical columns are in the dataframe - should be 147
cat_df.shape[1]

147

In [5]:
# Test your dataframe matches the solution
t.cat_df_check(cat_df)

Nice job! That looks right!

#### Question 2

**2.** 使用 **cat_df** 和下面的单元格，回答 **cat_df_dict** 字典中的每个问题，填写对应的整数。

In [6]:
# Cell for your work here
#列中无空值的数量
# cat_df.shape[1] - len(cat_df.columns[cat_df.isnull().any()].tolist())

len(cat_df.columns[cat_df.notna().all()].tolist())
np.sum(np.sum(cat_df.isnull()) == 0)

6

In [8]:
# Cell for your work here
len(cat_df.columns[(cat_df.isnull().sum()/ cat_df.shape[0]) >= .5])
np.sum(np.sum(cat_df.isnull()) / cat_df.shape[0] > .5)

49

In [7]:
# Cell for your work here
len(cat_df.columns[(cat_df.isnull().sum()/ cat_df.shape[0]) > .75])
np.sum(np.sum(cat_df.isnull()) / cat_df.shape[0] > .75)

13

In [8]:
# Provide the key as an `integer` that answers the question

cat_df_dict = {'the number of columns with no missing values': 6, 
               'the number of columns with more than half of the column missing': 49,
               'the number of columns with more than 75% of the column missing': 13
}

# Check your dictionary results
t.cat_df_dict_check(cat_df_dict)

Nice job! That looks right to me!

#### Question 3

**3.** 现在要对每一个分类变量创建虚拟变量。但是，我们之前看到，现在的分类变量里包含很多缺失值。所以，你可能会疑惑，对一列包含缺失值的分类变量创建虚拟变量时会发生什么。

可以在[这里](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.get_dummies.html)查看 Pandas 关于创建虚拟变量的文档说明，不过也可以先自己动手试试。

首先，运行下面的单元格，创建一个数据集，先在这个数据集上尝试，再处理 Stack Overflow 的数据。

在创建好 **dummy_var_df** 之后，将字母选项跟 **sol_3_dict** 里的陈述匹配。

In [9]:
dummy_var_df = pd.DataFrame({'col1': ['a', 'a', 'b', 'b', 'a', np.nan, 'b', np.nan],
                             'col2': [1, np.nan, 3, np.nan, 5, 6, 7, 8] 
})
                            
dummy_var_df

  col1  col2
0    a   1.0
1    a   NaN
2    b   3.0
3    b   NaN
4    a   5.0
5  NaN   6.0
6    b   7.0
7  NaN   8.0

In [10]:
pd.get_dummies(dummy_var_df['col1'])# Use this cell to write whatever code you need.

   a  b
0  1  0
1  1  0
2  0  1
3  0  1
4  1  0
5  0  0
6  0  1
7  0  0

In [11]:
a = 1
b = 2
c = 3
d = 'col1'
e = 'col2'
f = 'the rows with NaNs are dropped by default'
g = 'the NaNs are always encoded as 0'


sol_3_dict = {'Which column should you create a dummy variable for?': d,
              #使用默认设置创建虚拟变量时，创建了多少个变量？
              'When you use the default settings for creating dummy variables, how many are created?': b,
              'What happens with the nan values?': g 
             }

# Check your dictionary against the solution
t.sol_3_dict_check(sol_3_dict)

Nice job! That looks right to me!

#### Question 4

**4.** 注意，你也可以使用 **get_dummies** 的 **dummy_na** 参数对 **NaN** 值创建自己的虚拟列。缺失值经常也包含了有用的信息，需要利用起来。

对 **dummy_var_df** 里的 **col1** 创建新的编码，将缺失值也编码成专门的一列。将得到的结果保存在 **dummy_cols_df** 中，与答案进行对照。

In [12]:
dummy_cols_df = pd.get_dummies(dummy_var_df['col1'], dummy_na=True)#Create the three dummy columns for dummy_var_df

# Look at your result
dummy_cols_df

   a  b  NaN
0  1  0    0
1  1  0    0
2  0  1    0
3  0  1    0
4  1  0    0
5  0  0    1
6  0  1    0
7  0  0    1

In [13]:
# Check against the solution
t.dummy_cols_df_check(dummy_cols_df)

Nice job! That looks right!

#### Question 5

**5.** 可以用上面的方法来创建 X 矩阵，新的矩阵很可能比单单利用数值变量有更好的预测结果。

首先，完成 **create_dummy_df** 函数，可以参考文档字符串中的说明。

In [14]:
#Create a copy of the dataframe
cat_df_copy = cat_df.copy()
#Pull a list of the column names of the categorical variables
cat_cols_lst = cat_df.columns

def create_dummy_df(df, cat_cols, dummy_na):
    '''
    INPUT:
    df - pandas dataframe with categorical variables you want to dummy
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    
    OUTPUT:
    df - a new dataframe that has the following characteristics:
            包含未指定为分类的所有列
            1. contains all columns that were not specified as categorical
            2. removes all the original columns in cat_cols
            3. dummy columns for each of the categorical columns in cat_cols
            4. if dummy_na is True - it also contains dummy columns for the NaN values
            5. Use a prefix of the column name with an underscore (_) for separating 
    '''
    for col in  cat_cols:
        try:
            # for each cat add dummy var, drop original column
            #删除源数据中的原始列，然后增加新的经过dummy处理后的列
            df = pd.concat([df.drop(col, axis=1), pd.get_dummies(df[col], prefix=col, prefix_sep='_', drop_first=True, dummy_na=dummy_na)], axis=1)
        except:
            continue
    return df

In [16]:
df_new = create_dummy_df(df, cat_cols_lst, dummy_na=False) #Use your newly created function

# Show shape to assure it has a shape of (5009, 11938)
# print(df_new.shape)
df_new.head()

,Respondent,CareerSatisfaction,JobSatisfaction,HoursPerWeek,StackOverflowSatisfaction,Salary,ExpectedSalary,Professional_Professional developer,Professional_Professional non-developer who sometimes writes code,Professional_Student,...,QuestionsInteresting_Strongly agree,QuestionsInteresting_Strongly disagree,QuestionsConfusing_Disagree,QuestionsConfusing_Somewhat agree,QuestionsConfusing_Strongly agree,QuestionsConfusing_Strongly disagree,InterestedAnswers_Disagree,InterestedAnswers_Somewhat agree,InterestedAnswers_Strongly agree,InterestedAnswers_Strongly disagree
0,1,NaN,NaN,0.0,9.0,NaN,NaN,0,0,1,...,1,0,1,0,0,0,0,0,1,0
1,2,NaN,NaN,NaN,8.0,NaN,37500.0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
2,3,8.0,9.0,NaN,8.0,113750.0,NaN,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,6.0,3.0,5.0,10.0,NaN,NaN,0,1,0,...,0,0,0,1,0,0,0,0,1,0
4,5,6.0,8.0,NaN,NaN,NaN,NaN,1,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Question 6

**6.** 使用下方的文档字符串提示来完成函数，然后测试你的答案。

In [22]:
def clean_fit_linear_mod(df, response_col, cat_cols, dummy_na, test_size=.3, rand_state=42):
    '''
    INPUT:
    df - a dataframe holding all the variables of interest
    response_col - a string holding the name of the column 
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    test_size - a float between [0,1] about what proportion of data should be in the test dataset
    rand_state - an int that is provided as the random state for splitting the data into training and test 
    
    OUTPUT:
    test_score - float - r2 score on the test data
    train_score - float - r2 score on the train data
    lm_model - model object from sklearn
    X_train, X_test, y_train, y_test - output from sklearn train test split used for optimal model
    
    Your function should:
    1. Drop the rows with missing response values
    2. Drop columns with NaN for all the values
    3. Use create_dummy_df to dummy categorical columns
    4. Fill the mean of the column for any missing values 
    5. Split your data into an X matrix and a response vector y
    6. Create training and test sets of data
    7. Instantiate a LinearRegression model with normalized data
    8. Fit your model to the training data
    9. Predict the response for the training data and the test data
    10. Obtain an rsquared value for both the training and test data
    '''

    
    #Drop the rows with missing salaries
    df = df.dropna(subset=[response_col], axis=0)

    # Drop the columns with NaN
    df = df.dropna(how = 'all', axis=1)
    
    #dummy categorical columns
    df = create_dummy_df(df, cat_cols, dummy_na)
    
    # Mean function
    fill_mean = lambda col: col.fillna(col.mean())
    
    # Fill the mean
    df = df.apply(fill_mean, axis=0)
    
    #Split into explanatory and response variables
    X = df.drop(response_col, axis=1)
    y = df[response_col]

    #Split into train and test
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_size, random_state=rand_state) 

    lm_model = LinearRegression(normalize=True) # Instantiate
    lm_model.fit(X_train, y_train) #Fit

    #Predict and score the model
    y_test_preds = lm_model.predict(X_test) 
    y_train_preds = lm_model.predict(X_train)
    
    test_score = r2_score(y_test, y_test_preds)
    train_score = r2_score(y_train, y_train_preds)
    return test_score, train_score, lm_model, X_train, X_test, y_train, y_test


#Test your function with the above dataset
test_score, train_score, lm_model, X_train, X_test, y_train, y_test = clean_fit_linear_mod(df_new, 'Salary', cat_cols_lst, dummy_na=False)

In [23]:
#Print training and testing score
print("The rsquared on the training data was {}.  The rsquared on the test data was {}.".format(train_score, test_score))

The rsquared on the training data was 1.0.  The rsquared on the test data was 0.452247085089607.

注意到 R 平方在训练集上的值要比在测试集上高很多 — 你觉得是什么原因呢？

因为在训练集上过拟合了。